body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Culoarea de fundal a paginii */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.eveniment {
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbra cardului */
}

.eveniment img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.eveniment h2 {
    margin: 10px;
    color: #333;
}

.eveniment p {
    margin: 0 10px 10px;
    color: #666;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #555;
}

.detalii-eveniment {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Umbra detaliilor */
    margin: 20px;
    color: #333;
}

.ascuns {
    display: none;
}